<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CS 361 - API Exercise</title>
</head>
<body>
    <h1>Welcome to CS 361 Assignment 6 - POST METHOD</h1>
    <form action="/send_message" method="post">
        <label for="message">Message to Send:</label>
        <input type="text" id="message" name="message">
        <button type="submit">POST</button>
    </form><br/><br/>
    <h1>Welcome to CS 361 Assignment 6 - GET METHOD</h1>
    <form action="/get_message" method="get">
        <label for="message">Get Message</label>
        <button type="submit">GET</button>
    </form>
</body>
</html>